#footerSection
  .container
    .row
      .span3
        %h5 ACCOUNT
        %a{:href => '#'} YOUR ACCOUNT
        %a{:href => '#'} PERSONAL INFORMATION
        %a{:href => '#'} ADDRESSES
        %a{:href => '#'} DISCOUNT
        %a{:href => '#'} ORDER HISTORY
      .span3
        %h5 INFORMATION
        %a{:href => '#'} CONTACT
        %a{:href => '#'} REGISTRATION
        %a{:href => '#'} LEGAL NOTICE
        %a{:href => '#'} TERMS AND CONDITIONS
        %a{:href => '#'} FAQ
      .span3
        %h5 OUR OFFERS
        %a{:href => "#"} NEW PRODUCTS
        %a{:href => "#"} TOP SELLERS
        %a{:href => "special_offer.html"} SPECIAL OFFERS
        %a{:href => "#"} MANUFACTURERS
        %a{:href => "#"} SUPPLIERS
      #socialMedia.span3.pull-right
        %h5 SOCIAL MEDIA
        = link_to '#' do
          = image_tag 'facebook.png', height: 60, width: 60, title: 'facebook'
        = link_to '#' do
          = image_tag 'twitter.png', height: 60, width: 60, title: 'twitter'
        = link_to '#' do
          = image_tag 'youtube.png', height: 60, width: 60, title: 'youtube'
    %p.pull-right © Bootshop