#sidebar.span3
  = render 'shared/sidebar_cart'
  %ul#sideManu.nav.nav-tabs.nav-stacked
    - ItemCategory.where(parent: nil).each do |parent_cat|
      %li.subMenu
        %a
          = "#{parent_cat.name} [#{parent_cat.count}]"
        %ul
          -parent_cat.child.each do |child_cat|
            %li
              %a.active{:href => "products.html"}
                %i.icon-chevron-right>
                = "#{child_cat.name} (#{child_cat.count})"

  -@deals.each do |item|
    %br/
    = link_to 'item' do
      .thumbnail
        = image_tag item.img, alt:  item.name
        .caption
          %h5
            = item.name
          %h4{:style => "text-align:center"}
            %a.btn{:href => "#"}
              Add to 
              %i.icon-shopping-cart
            %a.btn.btn-primary{:href => "#"}
              = "$#{item.price}"
  %br/
  .thumbnail
    =image_tag 'payment_methods.png', alt: 'Payments Methods', title: 'Bootshop Payment Methods'
    .caption
      %h5 Payment Methods