.well.well-small
  = link_to cart_path, id: 'myCart' do
    = image_tag 'ico-cart.png', alt: 'cart'
    = "#{user_cart_count} Items"
    %span.badge.badge-warning.pull-right 
      = "$#{user_cart_total}"