%h4
  Featured Products
  %small.pull-right 200+ featured products
.row-fluid
  #featured.carousel.slide
    .carousel-inner
      - c = 1
      - @feature_products.each_slice(4) do |group|
        .item{class: c == 1 ? 'active' : '' }
          -c = c+1
          %ul.index.thumbnails
            - group.each do |item|
              %li.span3
                .thumbnail
                  %i.tag
                  = link_to 'product_detail' do 
                    = image_tag item.img
                  .caption
                    %h5
                      = item.name
                    %h4
                      = link_to add_to_cart_path(item_id: item.id), remote: true, class: 'btn'  do
                        Add to
                        %i.icon-shopping-cart
                      %a.btn.btn-primary{:href => "#"}
                        = "$#{item.price}"
        
          
    %a.left.carousel-control{"data-slide" => "prev", :href => "#featured"} ‹
    %a.right.carousel-control{"data-slide" => "next", :href => "#featured"} ›