%h4 Latest Products
%ul.thumbnails
  - @lasted_products.each do |item|  
    %li.span3
      .thumbnail
        = link_to 'product_detail' do 
          = image_tag item.img
        .caption
          %h5
            = truncate(item.name, :length => 20)
          %p
            = truncate(item.description, :length => 25)
          %h4{:style => "text-align:center"}
            %a.btn{:href => "product_details.html"}
              %i.icon-zoom-in
            %a.btn{:href => "#"}
              Add to
              %i.icon-shopping-cart
            %a.btn.btn-primary{:href => "#"} 
              = "$#{item.price}"